body {
  background-color: #f8f8f8;
}

.directory_container {
  width: 300px;
  height: fit-content;
  min-height: 50vh;
  margin: 20px 0 20px 0;
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 6px #d6d6d6;
  position: sticky;
  top: 20px;

  .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 20px 20px 10px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 20px;
      right: 20px;
      border-top: 1px solid #e4e4e4;
    }
  }

  .item {
    display: block;
    color: #333;
    padding: 6px 32px;
    transition: all linear 0.2s;

    &:hover {
      background-color: #ffeded;
    }

    &.active {
      background-color: #ff5858;
      color: #fff;
    }
  }
}
