.Promotion_main {
  width: 1160px;
  height: auto;
  margin: 0 auto;
}
img {
  border-radius: 8px;
}
.Promotion_center {
  width: 100%;
}
.imgg {
  width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid gray;
  margin: 10px 0px 10px 20px;
}
.Promotion_hot {
  margin-top: 20px;
  width: 100%;
  height: auto;
  background-color: #eeeeee;
  margin: 0px 0px 0px 20px;
}
.Promotion_hot p {
  font-size: 20px;
  font-weight: 600;
  color: red;
  padding: 22px;
}
.fire {
  margin-right: 5px;
}
.price_productt {
  width: 130px;
  height: 28px;
  border-radius: 15px;
  background-color: #ef8573;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  color: #fff;
}

.img_Promotion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
}
.img_Promotion_children {
  width: 275px;
  height: 325px;
  position: relative;
  margin: 0px 7px 5px 0px;
  background-color: white;
}
.hover_scale img {
  width: 180px;
  height: 151px;
  position: absolute;
  inset: 5px 0px 7px 23px;
}
.img_Promotion_children p {
  color: black;
  position: absolute;
  top: 168px;
}
.hover_scale {
  position: relative;
  width: 238px;
  height: 169px;
  margin: 10px auto;
  display: flex;
  background-color: white;
  transition: 0.4s ease;
}
.hover_scale:hover {
  transform: scale(1.03);
}
