.category-container {
  width: 1145px;
  height: auto;
  margin: 10px auto auto auto;
  background: #f8f9fa;
}
.Home {
  color: blue;
  padding-left: 10px;
}
.banner {
  margin-top: 10px;
  width: 100%;
  height: 200px;
}

.img_banner {
  width: 1125px;
  height: 200px;
  padding-left: 45px;
}
.row_laptop {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: auto;
  background: #f8f9fa;
}
.left {
  width: 25%;
  height: auto;
  background: #f8f9fa;
  margin-left: 45px;
}
.left p {
  font-weight: 600;
}
.right {
  width: 75%;
  height: auto;
}
.right p {
  background: #fff;
  padding: auto;
  font-size: 30px;
  font-weight: 600;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1px;
}
.right span {
  line-height: 60px;
  margin-left: 18px;
}
.telephone_company {
  background: #fff;
  padding: auto;
  font-size: 30px;
  font-weight: 600;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.telephone_company span {
  line-height: 60px;
  margin-left: 18px;
}
///
.flex_product {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: none;
  justify-content: space-between;
  border-radius: 9px;
}
.smart_phone {
  width: 33%;
  border-radius: 9px;
  height: 450px;
  background: transparent;
  transition: 1s linear ease-in;
}
.smart_phone img {
  width: 100%;
  height: auto;
  transition: 0.4s ease-in-out;
}
.smart_phone:hover {
  border-right: 0.3px solid rgba(0, 0, 0, 0.125);
  img:hover {
    transform: scale(1.01);
  }
  .dad_now_buy {
    display: flex;
  }
}
.smart_phone h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  color: #474c51;
  margin: 13px 0px 0px 10px;
}
.smart_phone h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  color: red;
  margin: 13px 0px 0px 10px;
}
.smart_phone ul {
  display: flex;
  flex-wrap: wrap;
}
.smart_phone ul li {
  display: inline-block;
  font-size: 20px;
  line-height: 19px;
  color: #6c757d;
  margin-right: 10px;
  cursor: help;
}
.dad_now_buy {
  // display: flex;
  display: none;
  margin-bottom: -14px;
}
.now_buy {
  width: 100px;
  margin: auto;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  animation: bounceIn 0.5s both 0.2s;
  height: 30px;
  border-radius: 2px;
  background-color: #cb1c22;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.Seen {
  margin: 30px auto 30px auto;

  width: 100px;
}
.Seen p {
  font-size: 16px;
  text-align: center;
  background-color: #e9ecef;
  height: 27px;
  border-radius: 4px;
  line-height: 26px;
  border: 1px solid transparent;
  font-weight: 300;
  white-space: nowrap;
}
.Seen p:hover {
  color: opacify($color: rgba(0, 0, 0, 0.125), $amount: 0);
  cursor: pointer;
}
